# Polymer 3.0 #
###############
logs
*.log
npm-debug.log*
coverage
dist
node_modules
.vscode/
.idea/
.DS_Store
src/vendor/webcomponents-loader.js
*.report.html
bower_components

# Legacy files #
################
legacy-polymer-2-version/bower_components/
legacy-polymer-2-version/build/
legacy-polymer-2-version/node_modules/
